:host {
  #sidebar-wrapper {
    min-width: 100px;
    max-width: 50%;
    height: 100%;

    mat-tab-group {
      height: 100%;
      mat-tab {
        height: 100%;
      }

      ::ng-deep .mat-tab-body-wrapper {
        height: 100%;
      }

      ::ng-deep .mat-tab-label {
        height: 32px;
      }
    }
  }
}
